html {
    background-color: #45A645;
    font-family:'Century Gothic';
}
.strikethrough{
    text-decoration: line-through;
}
body {
    background-color: inherit;
}
.container {
    max-width: 600px;
}
i{
    color: white;
}
h1 {
    color: white;
    font-size: 275%;
}
h2 {
    font-size: x-large;
    color: dimgray;
    font-weight: 400;
}
p {
    font-weight: 300;
    font-size: large;
    color: dimgray;
}
#p1 {
    padding-bottom: 10px;
}
b {
    font-weight: 600;
}

div {
    text-align:center;
}
#imgDiv {
    padding-top: 0px;
    max-width: 300px;
    margin-top: -10px;
}


.mobileView {
    padding: -1000px;
    margin: 0px;
}
    .mobileView h2{
        margin-top: 0px;
        font-size: medium;
        font-weight: normal;
    }
    .mobileView p {
        font-size: small;
    }
    .mobileView .listResources {
        margin-bottom: 20px;
    }
.mobileImage {
    padding:0px;
    border: 1px solid lightgray;
}
.form-group div {
    margin: 0px;
    padding: 0px;
}
input {
    max-width: 300px;
}
.error {
    background-color:lightpink;
    color:red;
    border-radius: 5px;
    max-width: 300px;
    padding: 0px;
    margin-top: -10px;
}

.view2 {
    margin-top: 0px;
}

.resourceImage {
    border-radius: 5px;
    margin-top: 25px;  
}
    .resourceImage img {
        border: 1px solid lightgray;
    }

.center {
    margin: auto;
    padding: 10px;
}

.content {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.form-control {
    border-radius: 0px;
    border: 1px solid;
    margin: auto;
}

.btn {
    background-color: #45A645;
    color: white;
    border-radius: 1px;
    padding-right: 40px;
    padding-left: 40px;
}

