<div ng-controller="giftCtrl as vm">
    <div ng-if="!vm.submitted" ng-form="giftForm" class="col-sm-12">

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div style="border-radius:10px;" class="well">
                    5 - Always 4 - Mostly 3 - Usually 2 - Sometimes 1 - Seldom
                </div>
                <label for="person">Name:</label>
                <input name="person" ng-model="vm.person" type="text">
                <button ng-show="vm.taken(vm.person)" ng-click="vm.viewResults(vm.person)">View Results</button>
            </div>
        </div>

        <div class="row" ng-repeat="question in vm.survey">
            <div class="text-large col-sm-6" style="text-align: right;font-size:20px;">{{question.text}}</div>
            <div class="text-large col-sm-3">

                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label ng-repeat="level in vm.levels" ng-click="vm.setAnswer(question, $index + 1)" class="btn btn-default text-center">
                        <input type="radio" name="{{'question_' + question.index}}">{{$index + 1}}</label>
                </div>

                <!-- <span ng-repeat="level in vm.levels">
                    <label for="level">{{$index + 1}}</label>
                    <input type="radio" name="{{'question_' + question.index}}" value="{{$index}}" ng-click="vm.setAnswer(question, $index + 1)">
                </span> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-default" value="Submit" ng-click="vm.computeResponse(vm.survey)">
                <input type="reset" class="btn btn-danger" value="Clear" ng-click="vm.clearSurvey(vm.survey)" />
                <input type="button" class="btn btn-primary" value="Answer" ng-click="vm.answerSurvey(vm.survey)" />
            </div>
        </div>
    </div>
    <div ng-if="vm.submitted">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">{{vm.person}}'s Spiritual Gift Results</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gifting</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gift in vm.response | orderBy: '-value'">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{gift.key}} - {{gift.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>