<div ng-controller="todoCtrl as td">
    <div class="col-sm-6 col-sm-offset-3">

        <!-- TODO FORM -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form role="search">
                    <div class="form-group">
                        <input type="text" ng-model="td.todo_text" class="form-control" placeholder="Todo">
                    </div>
                    <button type="submit" ng-click="td.add(td.todo_text)" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>
        
        <hr>

        <!-- TODO LIST -->
        <div class="row todo-list">
            <div class="col-xs-12 col-md-12" ng-repeat="todo in td.todos">
                <div class="row">
                    <span class="col-xs-2 col-md-1">
                            <input type="checkbox" ng-checked="todo.isCompleted" ng-click="td.updateStatus(todo)">
                    </span>
                    <span class="col-xs-7 col-md-7">
                        <span ng-hide="todo.isEditing" style="cursor:pointer;" ng-click="td.updateStatus(todo)" ng-class="{strikethrough: todo.isCompleted}">{{todo.text}}</span>
                        <input type="text" ng-hide="!todo.isEditing" ng-model="todo.text">
                    </span>
                    <span class="col-xs-1 col-md-2 btns">                        
                        <input ng-disabled="todo.isCompleted" ng-hide="todo.isEditing" ng-click="td.editing(todo, true)" type="button" class="btn btn-default  hidden-sm hidden-xs" value="edit">
                        <a ng-disabled="todo.isCompleted" ng-hide="todo.isEditing" ng-click="td.editing(todo, true)" class=" hidden-md hidden-lg hidden-xl"><i class="glyphicon glyphicon-pencil"></i></a>
                        
                        <input ng-disabled="todo.isCompleted" ng-hide="!todo.isEditing" ng-click="td.update(todo)" type="button" class="btn btn-default  hidden-sm hidden-xs" value="save">
                        <a ng-disabled="todo.isCompleted" ng-hide="!todo.isEditing" ng-click="td.update(todo)" class=" hidden-md hidden-lg hidden-xl"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    </span>
                    <span class="col-xs-1 col-md-2 btns">
                        <a class="" ng-click="td.remove(todo._id)"><i class="glyphicon glyphicon-trash hidden-md hidden-lg hidden-xl"></i> </a>
                        <input type="button" class="btn btn-danger  hidden-xs hidden-sm" ng-click="td.remove(todo._id)" value="delete">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>